* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar * {
  font-family: "Times New Roman", Times, serif;
}

.navbar a {
  text-decoration: none;
}

.menu li {
  list-style: none;
  padding: 5px 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7efcb;
  color: #000;
}

.navbar a {
  color: #000;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #f5de78;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 720px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #f3df86;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #e9ce57;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
