* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Changed font */
.navbar * {
  font-family: "Times New Roman", Times, serif;
}

/* Got rid of underline */
.navbar a {
  text-decoration: none;
}

/* Added padding for each link */
.menu li {
  list-style: none;
  padding: 5px 14px;
}

/* Padding in navbar box, flex items and make them spaced out evenly */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7efcb;
  color: #000;
}

.navbar a {
  color: #000;
}

/* spacing */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

/* Change look when hovered */
.menu li:hover {
  background-color: #f5de78;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

/* Get rid of check box */
input[type="checkbox"] {
  display: none;
}

/* hamburger invisible until needed */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.hamburger:hover {
  background-color: #f5de78;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

/* Makes navbar dynamic, if larger than 720px, navbar is shown, ow hamburger */
@media (max-width: 720px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #f3df86;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  /* Hover on drop down */
  .menu li:hover {
    display: inline-block;
    background-color: #e9ce57;
    transition: 0.3s ease;
  }

  /* spacing in dropdown */
  .menu li + li {
    margin-top: 12px;
  }

  /* displays dropdown when hamburger is clocked*/
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  /* Displays hamburger */
  .hamburger {
    display: block;
  }
}
